<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Conexión a Internet (Dio) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- ✅ Notificaciones (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Lectura de imágenes (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- Android 14+ (cuando el usuario elige “Fotos seleccionadas”) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>

    <!-- Compatibilidad <= 12 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <!-- Solo si realmente lo necesitas para APIs muy viejas -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <!-- Cámara para subir fotos -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="Pasaporte Solidario"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- (Opcional) Canal de notificación por defecto.
             Si no quieres canal propio, puedes dejar comentado. -->
        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" />
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- (Opcional) Solo deja queries que realmente uses -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
